

<!--  Content  -->
<article>
  <div class="centered-content">
    <div id="jumbotron">
      <h2>Lobby</h2>
    </div>
    <div id="chatbox">
        <div id="chat-display">
          <p>some test text</p>
        </div>
        <div id="chat-input-area">
          <form>
            <input id="chat-input"/>
            <button id="chat-submit" onclick="postChat(event)">submit</button>
          </form>
        </div>
    </div>
  </div>
</article>
<script src="/assets/js/lobby.js" type="text/javascript"></script>
